@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
    padding: 20px;
    
}
header {
    background-color: rgb(159, 159, 161);
    color: rgb(1,1,63);
    font-family: poppins;
    grid-row: 1/2;
    height: 125px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    text-align: center;
    padding: 5px;
}
#name {
    text-align: center;
    color: whitesmoke;
    
}

h2, h3 {
    text-align: center;
    color: rgb(1,1,63);
}
.first-column {
    grid-row: 2/3;
    margin: 0 auto;
}


