@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

#container {
    display: grid;
    grid-template-columns: 1fr;
}
body {
    padding: 20px;
    max-width: 1000px;
    
}
header {
    background-color: rgb(159, 159, 161);
    color: rgb(1,1,63);
    font-family: poppins;
    height: 125px;
    margin: 0 auto;
    padding: 20px;
}
h1{
    text-align: center;
    padding: 5px;
}
#name {
    text-align: center;
    color: whitesmoke;
    
}

h2, h3 {
    text-align: center;
    color: rgb(1,1,63);
}
.first-column {
    margin: 0 auto;
}
img {
    width: 100%;
}


